fastapi
uvicorn[standard]
python-dotenv
google-genai
langchain
langgraph
langchain-community
langchain-chroma
langchain-google-genai
langchain-text-splitters
chromadb
pypdf
sqlalchemy
psycopg2-binary
reportlab
python-pptx
python-jose[cryptography]
passlib[bcrypt]
bcrypt
httpx
pydantic
pydantic-settings
email-validator
python-socketio
python-multipart


